
hr {
    border: none;
    color: red;
    background-color: red;
    height: 10px; /
}


body {
    text-align: center;
}


p {
    color: darkblue;
    font-family: "Arial";
}



div {
    color: red;
}